h1 {font-size:28px !important; }
@media (min-width: 780px)  {
	#page  .span9 {float:right; }
	#page  .span3 {height:100%; min-height:500px;  clear:left;}
	ul#cat_side {float:left; }
	#page .breadcrumbs { 
           /* margin-left:300px; */
            float: right;
            width: 97%;
        }
}
@media (min-width: 960px)  {
#page {
    padding-top: 80px;
     padding-top: 0px;
}
#Article_css {
    height: 334px;
    width: 816px;
}

.leftcontentthirds {
float: left;
width: 33%;
}
.midcontent {
float: left;
width: 33%;
}
.rightcontentthirds {
    float: left;
width: 33%;
}
#sidebar {
   padding-top:0px;
height: 500px;
}
}
body .navbar { margin-bottom:0px;}

@media (max-width: 979px) and (min-width: 480px) {
 #page .span3 {float:none; clear:both; display:block;}
 #footer { clear:both; display:block; }
}
@media (max-width: 881px) {
     #page .span3 {  float:none; clear:both; display:block; height:100%}
     #footer { clear:both; display:block; }
}

#content { float:left; width:100%; }
#Article_content {
    height: 434px;
    width: 816px;
}
.container-fluid, .container{
    max-width:1170px;
    margin:auto;
    padding-left:20px;
    padding-right:10px;
}


DIV#content .compactRadioGroup LABEL,
DIV#content .compactRadioGroup INPUT {
    display: inline;
}
p.No-Paragraph-Style {
	color:#231f20;
	font-family:arial;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.A {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.T1 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:.5em;
	
	margin-top:.5em;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
p.C {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.176;
margin-bottom:.5em;
	
	margin-top:.5em;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.FR1 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:.5em;
	
	margin-top:.5em;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.FR2 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:.5em;
	
	margin-top:.5em;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.T2, p.T3, p.T4 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:.5em;
	
	margin-top:.5em;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x4c1 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:.5em;
	
	margin-top:.5em;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x4ch {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.E {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:10px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Key {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.x4c2 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:8px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T3 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.T4 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
span.I {
	font-family:Arial, sans-serif;
	font-style:italic;
	font-weight:normal;
}
p.para-style-override-1 {
	margin-bottom:0px;
}
p.para-style-override-2 {
	-epub-hyphens:none;
	break-after:column;
}
p.para-style-override-3 {
	break-after:page;
}
p.para-style-override-4 {
	-epub-hyphens:none;
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
p.para-style-override-5 {
	-epub-hyphens:none;
	break-after:page;
}
p.para-style-override-6 {
	break-after:column;
}
p.para-style-override-7 {
	margin-right:18px;
	margin-top:18px;
}
p.para-style-override-8 {
	break-after:page;
	margin-right:18px;
	margin-top:48px;
}
p.para-style-override-9 {
	margin-top:5px;
}
p.para-style-override-10 {
	margin-top:35px;
}
p.para-style-override-11 {
	margin-top:19px;
}
p.para-style-override-12 {
	margin-bottom:6px;
}
span.char-style-override-1 {
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	font-family:Arial, sans-serif;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-4 {
	font-size:12px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-5 {
	font-size:5px;
	vertical-align:super;
}
